h1{
  
 position: fixed;
  top: 0px;
  left: 0px;
 margin: 0px;
 padding: 10px;
 width: 100%;
 background-color: #efefef;
 z-index: 10;
 
}

body {
  font-family: Arial, sans-serif;
  background-image: url("background.png");
  background-size: cover;
}

#businessForm {
  top: 80px;
  left: 70px;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #e2dff1;
  border: 1px solid #02090f;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#businessForm input {
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#businessForm select {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;

}

#businessForm button[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#businessForm button[type="submit"]:hover {
  background-color: #3e8e41;
}

#dataTable {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

#dataTable th, #dataTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

#dataTable th {
  background-color: #f0f0f0;
}

#clearBtn {
  width: 20%;
  height: 40px;
  margin: 20px auto;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

#clearBtn:hover {
  background-color: #e91e63;
}

